<section class="content">
  <div class="block-content">
      <h3 class="block-title">Casas</h3>

      <mat-form-field appearance="fill">
        <mat-label>Elige una casa</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="house">
          <mat-option (onSelectionChange)="change($event)" *ngFor="let house of houses" [value]="house.value">
            {{ house.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let estudiantes"> {{estudiantes.name}} </td>
          </ng-container>
      
          <!-- House Column -->
          <ng-container matColumnDef="house">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> House </th>
            <td mat-cell *matCellDef="let estudiantes"> {{estudiantes.house}} </td>
          </ng-container>
      
          <!-- BirthDay Column -->
          <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef> BirthDay </th>
            <td mat-cell *matCellDef="let estudiantes"> {{estudiantes.dateOfBirth}} </td>
          </ng-container>
      
          <!-- Patronus Column -->
          <ng-container matColumnDef="patronus">
            <th mat-header-cell *matHeaderCellDef> Patronus </th>
            <td mat-cell *matCellDef="let estudiantes"> {{estudiantes.patronus}} </td>
          </ng-container>

          <!-- Imagen Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Img </th>
            <td mat-cell *matCellDef="let estudiantes"> <img class="avatar" [src] = "estudiantes.image ? estudiantes.image : myImgUrl"/> </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons 
                       aria-label="Select page of periodic estudiantes">
        </mat-paginator>
      </div>
          
      
      </div>
</section>
