  <section class="content" id="about">
      <div class="block-content">
          <h3 class="block-title">Perfil</h3>
          <h3 class="subheading">¡Hola! soy Isaac Rodriguez <strong>Analista De Software & Programador BackEnd/FrontEnd</strong></h3>
          <p>Web Semi Senior con más de 6 años de experiencia. especializada en desarrollo front end y back end. Experimentado con todas las etapas de la ciclo de desarrollo para proyectos web dinámicos. Tener un conocimiento profundo incluyendo HTML5 avanzado, CSS3, JSON, XML, Java, JavaScript, JQuery, Angular JS, Vue.JS, Kotlin. Fuertes antecedentes en gestión y liderazgo.</p>
          <div class="info-list row">
              <div class="col-sm-6"><span>Nombre : </span> Isaac Rodriguez</div>
              <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Marzo 03, 1993 </div>
              <div class="col-sm-6"><span>Dirección : </span> Venezuela, Zulia, Maracaibo.</div>
              <div class="col-sm-6"><span>Email : </span> isaac.rod33@gmail.com</div>
              <div class="col-sm-6"><span>Telefono : </span> + 58 412 425 7178</div>
              <div class="col-sm-6"><span>Interes : </span> Freelance, Full-Time</div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Servicios</h3>
          <div class="row">
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-laptop"></i>
                  </div>
                  <h4>Diseño Web</h4>
                  <p>6 años de desarrollo web.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-pie-graph"></i>
                  </div>
                  <h4>Desarrollo de Aplicaciones</h4>
                  <p>4 años desarrollando aplicaciones moviles.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-paintbucket"></i>
                  </div>
                  <h4>Diseño Grafico</h4>
                  <p>3 años trabajando con photoshop y illustrator.</p>
              </div>
          </div>
      </div>


      <div class="row text-center">
          <div class="col-md-12 btn-email">
              <a class="btn lowercase">isaac.rod33@gmail.com</a>
          </div>
      </div>
  </section>
